/* Contenedor */
.navbarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02002dda;
    position: fixed;
    width: 100%;
    padding: 2rem 1rem;
    height: max-content;
    z-index: 1000;
}

/* Lista */
.navbarcontainerlist {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;
}

/* Items */
.navbarcontaineritem {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.navbarcontaineritem:hover {
    color: #04ae9a
}

/* Mediasquerys 350px a 700px */
@media (min-width: 350px) and (max-width: 700px) {

    /* Contenedor */
    .navbarcontainer {
        padding: .5rem;
        height: 5rem;
    }

    /* Lista */
    .navbarcontainerlist {
        gap: 1rem;
    }

    /* Items */
    .navbarcontaineritem {
        font-size: 18px;
        font-weight: 500;
    }

}