.proyectosenconjuntocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #36B6FF;
    padding: 2rem 0;
}

.proyectosenconjuntocontainer>h3 {
    font-size: 30px;
    border-bottom: 1px solid #36B6FF;
    padding-bottom: .5rem;
    width: 30rem;
    text-align: center;
    color: #36B6FF;
    margin: 0 0 1rem 0;
}

/* THE LOBBY */
.proyectosenconjuntocontainerthelobby {
    background-color: #00000050;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 1rem;
}

.proyectosenconjuntocontainerthelobby>img {
    width: 30rem;
}

.proyectosenconjuntocontainerthelobbytexto {
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.proyectosenconjuntocontainerthelobbytexto>h2 {
    color: #36B6FF;
}


/* --------------------------------------------- */

/* Mediaquerys 350px a 719px */
@media (min-width: 350px) and (max-width: 719px) {
    
    .proyectosenconjuntocontainer>h3 {
        font-size: 25px;
        width: 20rem;
    }
    
    /* THE LOBBY */
    .proyectosenconjuntocontainerthelobby {
        padding: 1rem;
        flex-direction: column;
    }
    
    .proyectosenconjuntocontainerthelobby>img {
        width: 20rem;
    }
    
    .proyectosenconjuntocontainerthelobbytexto {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 1rem;
        font-size: 13px;
    }
    
    .proyectosenconjuntocontainerthelobbytexto>h2 {
        color: #36B6FF;
    }



}