/* Tecnologías */
.sobremitecnologiascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0 0 0;
    background-color: #09092b;
}

.sobremitecnologiassubcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
}

.sobremitecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    transition: all .3s;
    animation: rotar 7s infinite ease-in-out;
}

.sobremitecnologia>img {
    height: 3rem;
}

.sobremitecnologia:hover {
    scale: 130%;
}

@keyframes rotar {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/* --------------------------------------------- */

/* Mediaquerys 350px a 719px */
@media (min-width: 350px) and (max-width: 719px) {

    /* Tecnologías */
    .sobremitecnologiascontainer {
        padding: 2rem 1rem;
        gap: .5rem;
        width: 20rem;
        margin: 1rem auto;
    }

    .sobremitecnologiassubcontainer {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 2rem;
    }

}